* {
    padding: 0;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    background-color: #1e1e1e;
    overflow: hidden;
}

#tower-container {
    position: relative;
    z-index: 1;
}

#forms {
    position: absolute;
    width: 140px;
    left: 10px;
    top: 6px;
    overflow-y: auto;
    z-index: 2;
}

#form1, #form3 {
    margin-top: 6px;
    border: 2px solid #141414;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    background-color: #363636;
    color: #8f8f8f;
    overflow-x: hidden;
}

#form2 {
    margin-top: 6px;
    border: 2px solid #141414;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #363636;
    color: #8f8f8f;
}

#receita {
    position: absolute;
    margin-left: 82vw;
    height: 90%;
    top: 10px;
}

#gads {
    height: 70%;
    width: 15vw;
    border: 2px solid #141414;
    padding: 15px;
    border-radius: 10px;
    background-color: #363636;
    color: #8f8f8f;
}

#doarcafe {
    margin-top: 6px;
    height: 25%;
    width: 15vw;
    border: 2px solid #141414;
    padding: 15px;
    border-radius: 10px;
    background-color: #363636;
    color: #8f8f8f;  
}

.input-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

#form1 input {
    padding-left: 10px;
    width: 70px;
    margin-top: 5px;
    align-self: flex-start;
    border: none;
    background-color: #1e1e1e;
    height: 25px;
    border-radius: 5px;
    color: #8f8f8f;

}


#tipoTorre{
    width: 90%;
    margin-top: 5px;
    background-color: #1e1e1e;
    color: #8f8f8f;
    border-radius: 5px;
    border: none;
    height: 25px;
}

#loadButton{
    margin-left: 18px;
    border: none;
    background-color: #292929;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 400;
    color: #8f8f8f;
}

#loadButton:hover{
    box-shadow: 1px 1px 6px #000000;
}

#csvFile{
    display: none;
}

#custom-file-upload {
    margin-top: 8px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #292929;
    border-radius: 4px;
    text-align: center;
}

#custom-file-upload:hover {
    box-shadow: 1px 1px 6px #000000;
}

#fileNameDisplay {
    font-size: 0.93rem;
    font-weight: 400;
    color: #8f8f8f;
}

#popup{
    width: 190px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
    display: none;
    border-radius: 5px;
}

.arrow-left:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid white;
}

.arrow-right:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -30px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid white;
}

.status-a-retirar {
    color: red;
    font-weight: bold;
}

.status-existente {
    color: black;
    font-weight: normal;
}

.status-a-instalar {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}


